body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  max-width: 100%;
}

main {
  display: grid;
  grid-template: "sidebar header" 1fr
                  "sidebar main" 3fr
                  / 1fr 4fr;

  height: 120vh;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}